.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.mtitle {
    font-size: 16px;
    color: var(--text-main2);
}

.subtitle {
    font-size: 14px;
    color: var(--text-main);
    width: 100%;
}

@media (max-width: 767px) {
    .mtitle {
        font-size: 14px;
    }
    .msubtitle {
        font-size: 12px;
    }
}